<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Final | Chat</title>
</head>
<body>
  <h1>Canal de Chat</h1>
  <br>
  <a href="/chat/<%= user.email %>">Ver solo mis mensajes</a>
  <br>
  <form id="messagesForm">
    <div id="messagesHistory">No hay mensajes para mostrar</div>
    <input type="text" name="message" placeholder="Escribe aqui...">
    <input type="submit">  
  </form>
  <a href="/productos">Volver a la tienda</a>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/socket.controller.js"></script>
</body>
</html>